//----------color---------------//
$primary_color:#E6C744;
$secondary_color: #C2C8DA;
$gray_color:#F4F6F5;


$grid-breakpoints: (
  xs: 0,
  sm: 577px,
  md: 769px,
  lg: 993px,
  xl: 1201px,
  xxl: 1401px
);


